@import '~bootstrap/scss/bootstrap';

$black: #000;
$primary: #ff1493;

.border {
  border: 3px solid $black;
  margin: 20px;
  padding: 20px;
}

.success {
  background-color: #080;
}

.failure {
  background-color: #F00;
}

.sign-out {
  padding-top: 20px;
}
