@import '~bootstrap/scss/bootstrap';

$black: #000;
$primary: #ff1493;

* {
  text-align: center;
}

// body {
//   background: url('../../public/images/back.jpg')
// }

.border {
  border: 3px solid $black;
  margin: 20px;
  // padding: 20px;
}

.success {
  background-color: #080;
}

.failure {
  background-color: #F00;
}

.sign-out {
  padding-top: 20px;
}

.container {
  text-align: center;
}

h1, h2, h3, h4 {
  text-align: center;
  padding: 0 auto;
}

.ttt {
  // height: 40%;
  padding: 20px;
  margin: 20px;
}

.tt-cell {
  height: 175px;
  max-height: 100%;
  border: 1px solid black;
  &:hover {
    background-color: pink;
  }
}

.ltr {
  max-height: 90%;
  // vertical-align: middle;
}

.x {
  padding-top: 16px;
}

.cell-t {
  border-top: 0;
}

.cell-l {
  border-left: 0;
}

.cell-r {
  border-right: 0;
}

.cell-b {
  border-bottom: 0;
}

// .btn {
//   color: #fff;
//   background-color: #000;
//   border-color: #000;
// }
