@import '~bootstrap/scss/bootstrap';

$black: #000;
$primary: #ff1493;

.border {
  border: 3px solid $black;
  margin: 20px;
  padding: 20px;
}

.success {
  background-color: #080;
}

.failure {
  background-color: #F00;
}

.sign-out {
  padding-top: 20px;
}

.game-board {
  background-color: #000;
}

.container {
  text-align: center;
}

h1, h2, h3, h4 {
  text-align: center;
  padding: 0 auto;
}

.ttboard {
  // height: 40%;
}

.tt-cell {
  height: 175px;
  max-height: 100%;
  border: 1px solid blue;
  &:hover {
    background-color: pink;
  }
}
